/**
 * Mikrotik API - RouterBoard
 * @author Dobr@CZek
 * @link http://webscript.cz
 * @version 1.0
 */

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 0 auto;
	padding-bottom: 20px;
}

pre {
	font-size: 10px;
}
